<div id="keyboard">
  <div class="row">
    <div class="col-lg-4 col-xs-4">
      <app-button [value]="1" (btnClicked)="appendToCode($event)"></app-button>
    </div>
    <div class="col-lg-4 col-xs-4">
      <app-button [value]="2" (btnClicked)="appendToCode($event)"></app-button>
    </div>
    <div class="col-lg-4 col-xs-4">
      <app-button [value]="3" (btnClicked)="appendToCode($event)"></app-button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-xs-4">
      <app-button [value]="4" (btnClicked)="appendToCode($event)"></app-button>
    </div>
    <div class="col-lg-4 col-xs-4">
      <app-button [value]="5" (btnClicked)="appendToCode($event)"></app-button>
    </div>
    <div class="col-lg-4 col-xs-4">
      <app-button [value]="6" (btnClicked)="appendToCode($event)"></app-button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-xs-4">
      <app-button [value]="7" (btnClicked)="appendToCode($event)"></app-button>
    </div>
    <div class="col-lg-4 col-xs-4">
      <app-button [value]="8" (btnClicked)="appendToCode($event)"></app-button>
    </div>
    <div class="col-lg-4 col-xs-4">
      <app-button [value]="9" (btnClicked)="appendToCode($event)"></app-button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-xs-4">
      <app-button [value]="'*'" (btnClicked)="appendToCode($event)"></app-button>
    </div>
    <div class="col-lg-4 col-xs-4">
      <app-button [value]="0" (btnClicked)="appendToCode($event)"></app-button>
    </div>
    <div class="col-lgg-4 col-xs-4">
      <app-button [value]="'#'" (btnClicked)="appendToCode($event)"></app-button>
    </div>
  </div>
</div>
